In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

In [5]:
tomato = pd.read_csv("./Tomato.csv")

In [6]:
tomato.head()

,shelf,flat,col,row,acs,trt,days,date,hyp,int1,...,petleng,leafleng,leafwid,leafnum,ndvi,lat,lon,alt,species,who
0,Z,1,B,1,LA2580,H,28,5/5/08,19.46,2.37,...,15.78,30.53,34.44,5.0,111,-9.5167,-78.0083,740,S. pennellii,Dan
1,Z,1,C,1,LA1305,H,28,5/5/08,31.28,3.34,...,12.36,22.93,13.99,4.0,120,-13.3833,-75.3583,3360,S. peruvianum,Dan
2,Z,1,D,1,LA1973,H,28,5/5/08,56.65,8.43,...,13.05,46.71,43.78,5.0,110,-16.2333,-71.7000,2585,S. peruvianum,Dan
3,Z,1,E,1,LA2748,H,28,5/5/08,35.18,0.56,...,8.08,26.82,33.28,5.0,105,-20.4833,-69.9833,1020,S. chilense,Dan
4,Z,1,F,1,LA2931,H,28,5/5/08,35.32,0.82,...,7.68,22.40,23.61,5.0,106,-20.9167,-69.0667,2460,S. chilense,Dan

In [8]:
#Make a new data frame that retains the "trt", "hyp", and "species" columns.
tomato_small = tomato[['trt','hyp','species']]

In [9]:
tomato_small.head()

  trt    hyp        species
0   H  19.46   S. pennellii
1   H  31.28  S. peruvianum
2   H  56.65  S. peruvianum
3   H  35.18    S. chilense
4   H  35.32    S. chilense

In [22]:
#Now subset the new data frame do that it only has the S. chilense data.
tomato_chileanse = tomato_small[tomato_small.species == "S. chilense"]

In [23]:
tomato_chileanse.head()

   trt    hyp      species
3    H  35.18  S. chilense
4    H  35.32  S. chilense
10   H  28.22  S. chilense
18   H  51.83  S. chilense
19   H  32.94  S. chilense

In [28]:
#Calculate the mean of the hyp column separately for the "H" and "L" treatments.
tomato_chileanse.hyp[tomato_chileanse.trt == "H"].mean()

31.52823529411765

In [29]:
tomato_chileanse.hyp[tomato_chileanse.trt == "L"].mean()

37.89361904761905

In [30]:
trts = tomato_chileanse.trt.unique()

In [31]:
trts

array(['H', 'L'], dtype=object)

In [35]:
[tomato_chileanse.hyp[tomato_chileanse.trt == t].mean() for t in trts]

[31.52823529411765, 37.89361904761905]

In [36]:
data = pd.read_csv("./Brapa_cpm.csv")

In [37]:
data.head()

,wyo_leaf_FPsc_02_052,wyo_leaf_FPsc_02_064,wyo_leaf_FPsc_02_065,wyo_leaf_FPsc_04_141,wyo_leaf_FPsc_04_170,wyo_leaf_FPsc_04_174,wyo_leaf_FPsc_05_178,wyo_leaf_FPsc_05_181,wyo_leaf_FPsc_05_218,wyo_leaf_FPsc_07_272,...,wyo_leaf_R500_05_213,wyo_leaf_R500_07_266,wyo_leaf_R500_07_269,wyo_leaf_R500_07_278,wyo_leaf_R500_10_406,wyo_leaf_R500_10_424,wyo_leaf_R500_10_432,wyo_leaf_R500_12_485,wyo_leaf_R500_12_504,wyo_leaf_R500_12_513
0,0.767763,0.324099,0.419308,1.130997,0.000000,0.872953,0.000000,0.000000,0.603603,0.000000,...,-0.178038,-0.206271,-0.234504,-0.262736,-0.290969,-0.319201,-0.347434,-0.375667,-0.403899,-0.432132
1,15.512046,12.653405,12.234985,11.924020,16.025326,15.581199,13.297490,12.659967,17.091017,16.619065,...,17.125848,19.666861,15.605980,14.964833,18.584335,20.513813,15.808980,18.992666,17.519853,15.753666
2,0.770761,0.982484,0.733789,0.487179,0.490331,0.736191,0.753390,0.474892,0.305467,0.562337,...,5.216560,7.662596,5.210235,8.325588,7.238362,6.849460,8.640743,8.025718,5.710802,8.206010
3,35.481267,48.769046,44.468335,43.780244,37.906676,36.244005,46.465002,47.776153,49.213257,40.158852,...,35.080533,37.371672,46.622466,47.771217,40.133597,40.503499,46.102438,28.509853,37.889397,40.081839
4,1.228422,2.106640,1.048270,1.454139,0.980662,2.473368,1.045839,1.103139,1.358107,3.481599,...,3.165919,3.574074,1.807563,3.577689,2.997783,2.085844,2.345345,3.174548,3.045761,3.680145