In [112]:
import numpy as np
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns

## John

### question 1

In [2]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/UCD-pbio-rclub/python-data-analysis_JohnD/master/datasets/diamonds.csv')

In [34]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### question 2

In [23]:
dmdmax = diamonds['price'].groupby([diamonds['color'], diamonds['cut']]).max()

In [26]:
dmdmax

color  cut
D      Fair         16386
       Good         18468
       Ideal        18693
       Premium      18575
       Very Good    18542
E      Fair         15584
       Good         18236
       Ideal        18729
       Premium      18477
       Very Good    18731
F      Fair         17995
       Good         18686
       Ideal        18780
       Premium      18791
       Very Good    18777
G      Fair         18574
       Good         18788
       Ideal        18806
       Premium      18741
       Very Good    18818
H      Fair         18565
       Good         18640
       Ideal        18760
       Premium      18795
       Very Good    18803
I      Fair         17408
       Good         18707
       Ideal        18779
       Premium      18823
       Very Good    18500
J      Fair         15824
       Good         18325
       Ideal        18508
       Premium      18706
       Very Good    18430
Name: price, dtype: int64

### question 3

In [77]:
dmdGroup = diamonds.groupby(['carat'])[['x','y','z']]

In [79]:
carat = dmdGroup.agg([('minimum', 'min'), ('maximum', 'max'), ('average', 'mean')])

In [81]:
carat.head(20)

            x                         y                         z          \
      minimum maximum   average minimum maximum   average minimum maximum
carat
0.20     3.73    3.86  3.786667    3.68    3.84  3.753333    2.24    2.36
0.21     3.82    3.96  3.874444    3.78    3.93  3.837778    2.29    2.40
0.22     3.87    3.93  3.898000    3.78    3.89  3.848000    2.31    2.49
0.23     3.83    4.14  3.946382    3.84    4.19  3.973379    2.31    2.50
0.24     3.85    4.12  3.990157    3.88    4.15  4.019331    2.36    2.54
0.25     3.91    5.33  4.062500    3.95    5.28  4.086934    2.32    3.12
0.26     3.99    4.24  4.102688    4.02    4.28  4.124704    2.45    2.62
0.27     3.99    4.30  4.159142    4.02    4.36  4.181588    2.45    2.66
0.28     4.09    4.38  4.207172    4.12    4.41  4.233687    2.46    2.69
0.29     4.14    4.48  4.262846    4.11    4.42  4.290538    2.48    2.72
0.30     4.14    4.67  4.299443    4.05    4.62  4.308061    2.37    2.78
0.31     4.21    4.61  4.353219    4.20    4.60  4.360912    2.47    2.78
0.32     4.28    4.60  4.399821    4.28    4.65  4.406995    2.57    2.80
0.33     4.34    4.85  4.449521    4.30    4.79  4.456569    2.64    2.95
0.34     4.38    6.65  4.495363    4.36    4.77  4.499560    2.58    2.89
0.35     4.40    5.67  4.544693    4.35    5.64  4.550825    2.57    3.66
0.36     4.46    4.79  4.580927    4.47    4.79  4.590105    2.54    2.90
0.37     4.51    4.96  4.625228    4.45    4.91  4.632944    2.58    2.94
0.38     4.52    4.85  4.662403    4.52    4.88  4.677313    2.06    2.95
0.39     4.50    4.91  4.696156    4.54    6.02  4.713593    2.77    4.44


        average
carat
0.20   2.303333
0.21   2.332222
0.22   2.386000
0.23   2.431468
0.24   2.465591
0.25   2.506934
0.26   2.536364
0.27   2.567897
0.28   2.595707
0.29   2.624000
0.30   2.664351
0.31   2.690422
0.32   2.717755
0.33   2.741447
0.34   2.768714
0.35   2.801049
0.36   2.819266
0.37   2.839949
0.38   2.866955
0.39   2.898116

## Min-Yao

### question 1

In [44]:
data = pd.read_excel('Expression Browser_CPM_practice.xlsx', index_col='Name')

In [45]:
data.head()

,6_c1,6_c2,6_c3,6_c4,6_c5,6_c6,6_c7,6_t1,6_t2,6_t3,...,3_t5,2_c1,2_c2,2_c3,2_c4,2_c5,2_t1,2_t2,2_t3,2_t4
Name,,,,,,,,,,,,,,,,,,,,,
Solyc00g005000.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Solyc00g005005.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Solyc00g005040.3,0.000000,0.136237,0.000000,0.000000,0.000000,0.000000,0.000000,0.075741,0.30310,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Solyc00g005050.3,49.947944,50.680249,42.857629,46.142383,40.925485,49.050587,49.010294,47.224546,42.28247,50.970454,...,46.069768,39.626619,33.60176,38.84896,28.487619,42.516459,47.526986,47.021348,51.069134,44.480035
Solyc00g005055.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Kae

### question 1

In [46]:
passenger = pd.read_csv('https://raw.githubusercontent.com/UCD-pbio-rclub/python-data-analysis_KaeL/master/titanic.csv')

In [64]:
passenger

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [65]:
pssgrGroup = passenger.groupby(['Survived','Embarked'])[['PassengerId']].count()

In [66]:
pssgrGroup

                   PassengerId
Survived Embarked
0        C                  75
         Q                  47
         S                 427
1        C                  93
         Q                  30
         S                 217

# Joel

## question 1

In [113]:
weather = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')

In [114]:
weather.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [115]:
weatherTimeCourse = weather.groupby(['origin','month'])[['temp','humid']].mean()

In [117]:
weatherTimeCourse

                   temp      humid
origin month
EWR    1      35.562156  62.124515
       2      34.263318  63.335575
       3      40.118654  57.913822
       4      52.977500  54.235125
       5      63.320242  64.073710
       6      73.267250  67.002292
       7      80.702996  66.676410
       8      74.537483  65.751746
       9      67.304784  64.035563
       10     59.778207  65.319280
       11     44.577343  56.520112
       12     37.950084  69.721415
JFK    1      35.385553  61.661617
       2      34.192459  62.558480
       3      39.544717  58.022224
       4      50.142698  60.057636
       5      59.314758  70.989261
       6      69.958250  73.761472
       7      78.734919  71.744691
       8      73.818780  67.844201
       9      66.897750  65.251819
       10     59.801951  65.063618
       11     45.134194  56.799607
       12     38.604867  68.313413
LGA    1      35.959272  59.156092
       2      34.356119  60.686030
       3      39.976523  56.559474
       4      52.114500  53.150597
       5      62.750000  61.496183
       6      73.326500  61.226861
       7      80.764253  62.264038
       8      75.048254  60.345737
       9      67.911250  59.677431
       10     60.632439  60.138753
       11     45.260926  53.492959
       12     38.769762  63.627692

In [ ]:
EWR = weatherTimeCourse.loc['EWR']

In [118]:
JFK = weatherTimeCourse.loc['JFK']

In [119]:
LGA = weatherTimeCourse.loc['LGA']

In [143]:
fig,axes = plt.subplots(3,1, sharex = True)

In [144]:
EWR.plot(ax=axes[0], title = 'EWR', use_index=True)

In [145]:
JFK.plot(ax=axes[1], title = 'JFK', use_index=True)

In [146]:
LGA.plot(ax=axes[2], title = 'LGA', use_index=True)

In [147]:
plt.close()

In [148]:
humid = weather.groupby(['origin','month','day'])[['humid']].mean()

In [165]:
humid.head()

                      humid
origin month day
EWR    1     1    56.748182
             2    48.816250
             3    55.029167
             4    55.715000
             5    51.168333

# Rie

In [150]:
#Download the data called "candy-data.csv".

In [151]:
candy = pd.read_csv('candy-data.csv')

In [154]:
candy.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

## question 1

In [161]:
chococaramel =  candy.groupby(['chocolate','caramel'])[['competitorname']].count()

In [162]:
chococaramel

                   competitorname
chocolate caramel
0         0                    44
          1                     4
1         0                    27
          1                    10

## question 2

In [163]:
quality =  candy.groupby(['chocolate','caramel'])[['sugarpercent','pricepercent','winpercent']].mean()

In [164]:
quality

                   sugarpercent  pricepercent  winpercent
chocolate caramel
0         0            0.444727      0.335932   42.744041
          1            0.543250      0.421000   35.522633
1         0            0.461074      0.601185   59.012238
          1            0.649500      0.715800   66.076617